@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Dinkie;
    src: url("/DinkieBitmap-9px.ttf");
}

@font-face {
    font-family: FiraCode;
    src: url("/FiraCode-Regular.ttf"), url("/FiraCode-Bold.ttf"),
        url("/FiraCode-Light.ttf");
}

@font-face {
    font-family: Sarasa;
    src: url("/sarasa-regular.ttc"), url("/sarasa-bold.ttc"),
        url("/sarasa-light.ttc");
}

html,
body {
    font-family: Sarasa;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c3ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #70579a;
}
